@import "tailwindcss";

@font-face {
  font-family: "Agency FB";
  src: url("/src/assets/fonts/agency-fb-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Agency FB";
  src: url("/src/assets/fonts/agency-fb-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-agency: "Agency FB", "Arial Narrow", sans-serif;
}